.background {
  --dx-percentage: 0;
}

.background g path {
  transition: transform 0.7s ease;
}

.background g path:nth-of-type(1) {
  transform: translateX(calc((var(--dx-percentage) * 1px) / 20));
}

.background g path:nth-of-type(2) {
  transform: translateX(calc((var(--dx-percentage) * 1px) / 15));
}

.background g path:nth-of-type(3) {
  transform: translateX(calc((var(--dx-percentage) * 1px) / 10));
}

.background g path:nth-of-type(4) {
  transform: translateX(calc((var(--dx-percentage) * 1px) / 5));
}
