.background {
  --dx-percentage: -400;
}

.background g path {
  transition: transform 1s linear;
  transform: translateX(calc((var(--dx-percentage) * 1px) / (var(--divider))));
}

.background g path:nth-of-type(1) {
  --divider: 15;
}

.background g path:nth-of-type(2) {
  --divider: 10;
}

.background g path:nth-of-type(3) {
  --divider: 10;
}

.background g path:nth-of-type(4) {
  --divider: 5;
}
